Repository KTC-Security-Circle/Kage, pull requests merged in 2025-08, with the labels that each got.

#44 43 alembic adjustment
  .vscode/tasks.json
  alembic.ini
  docs/migrations.md
  src/models/migrations/env.py
  src/models/migrations/versions/13e7cedea85f_test_table.py
  src/models/migrations/versions/92fa95db0729_delate_test.py
Labels: tests, models, docs

#57 📝 ブランチ命名規則ドキュメントの可視性改善
  .github/QUICK_REFERENCE.md
  .github/prompts/github-mcp.prompt.md
  CONTRIBUTING.md
  README.md
  docs/branch_naming.md
  docs/setup.md
Labels: chore, docs

#74 Revert "feat: GitHub Actions とドキュメントの改善"
  .github/workflows/docs.yml
  CONTRIBUTING.md
  docs/views_guide.md
  mkdocs.yml
Labels: ci, config, docs

#75 Revert "Revert "feat: GitHub Actions とドキュメントの改善""
  .github/workflows/docs.yml
  CONTRIBUTING.md
  docs/views_guide.md
  mkdocs.yml
Labels: ci, config, docs

#94 Feature add devcontainer system
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .github/labeler_branch.yml
Labels: chore, enhancement, ci, config
